<h2>Establishments</h2>
<hr />

<div class="spinner-border" role="status" *ngIf="loading">
  <span class="visually-hidden">Loading...</span>
</div>

<table class="table table-striped table-hover" *ngIf="!loading">
  <thead>
    <tr>
      <th><abbr title="Local Authority Business ID">ID</abbr></th>
      <th>Name</th>
      <th>Type</th>
      <th>Rating Value</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let establishment of establishments">
      <td>{{ establishment.LocalAuthorityBusinessID }}</td>
      <td>{{ establishment.BusinessName }}</td>
      <td>{{ establishment.BusinessType }}</td>
      <td>{{ establishment.RatingValue }}</td>
      <td><a [routerLink]="['/establishment', establishment.FHRSID]">Details</a></td>
    </tr>
  </tbody>
</table>
